.App {
  display: flex;
}

.sidebar{
  height: 100%;
  width: 40%;
  background-color: #ffffff;
  position: relative;
  border-right: 1px solid #dadada;
}

.description{
  background-color: #f7f9fa;
  width: 100%;
}